@import 'reboot/bootstrap-reboot.min';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';



* {
    // font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Century Gothic Regular';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/sale';
@import 'blocks/donna';
@import 'blocks/teddy-bear';
@import 'blocks/pre-fall';
@import 'blocks/footer';
@import 'blocks/media';