.footer {
    padding: 80px 100px 50px;
    .divider {
        border: 1px solid black;
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 60px;
        width: 320px;
        height: 40px;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &__text {
        margin-top: 60px;
        font-size: 24px;
        text-align: center;
    }
    &__subtext {
        margin-top: 20px;
        text-align: center;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        input {
            width: 300px;
            height: 40px;
            padding: 10px 0 10px 10px;
            font-size: 16px;
            outline: none;
        }
        .btn {
            width: 113px;
            height: 40px;
            text-transform: uppercase;
            color: #fff;
            background-color: #000;
            outline: none;
        }
    }
    &__wrapper-3-items {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 25px;
        width: 1300px;
        ul {
            list-style-type: none;
            a {
               text-decoration: none;
               color: #000;
               line-height: 40px;
               text-transform: uppercase;
            }
            span {
                font-size: 26px;
            }
        }
    }
    &__wrapper-2-items {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1000px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    &__junior, &__outlet {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        &-title {
            font-weight: 700;
            margin-top: 17px;
        }
        &-descr {
            font-size: 14px;
            color: #a4a4a4;
        }
    }
    &__rights {
        text-align: center;
        margin-top: 40px;
        color: #9d9d9d;
    }
}