.pre-fall {
    .carousel {
        display: none;
        padding-top: 60px;
        &__inner {
            position: relative;
            width: 750px;
            margin: 0 auto;
            div {
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .slick-prev, .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -66px;
            border: none;
            background-color: #f7f7f7;
        }
        .slick-next {
            right: -66px;
            left: auto;
        }
    }
    padding: 40px 0 90px 0;
    background-color: #f7f7f7;
    text-align: center;
    &__subtitle {
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'Century Gothic Bold';
    }
    &__title {
        font-family: 'Century Gothic Regular';
        font-size: 44px;
    }
    &__man {
        position: relative;
        margin: 0 auto;
        margin-top: 25px;
        width: 1149px;
        .jackets {
            position: absolute;
            top: 200px;
            right: -300px;
            
        }
        .hoodies {
            position: absolute;
            top: 580px;
            left: -300px;
        }
        .shoes {
            position: absolute;
            bottom: 120px;
            right: -300px;
        }
    }
    .man-hot-stuff {
        margin-top: 60px;
        margin-bottom: 115px;
    }
    &__woman {
        position: relative;
        margin: 0 auto;
        margin-top: 25px;
        width: 1149px;
        .jackets-woman {
            position: absolute;
            top: 200px;
            left: -300px;
        }
        .denim {
            position: absolute;
            top: 580px;
            right: -300px;
        }
        .high-heels {
            position: absolute;
            bottom: 120px;
            left: -300px;
        }
    }
    .woman-hot-stuff {
        margin-top: 60px;
    }
}