.sale {
    padding: 145px 0 38px 0;
    min-height: 550px;
    // background: url('/img/sale_bg.png') center (center / cover) no-repeat;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 146px;
    &__text {
        font-size: 120px;
        font-family: 'Century Gothic Bold';
        text-transform: uppercase;
        text-align: center;
    }
    &__time {
        margin: 0 auto;
        margin-top: 120px;
        &-block {
            .time {
                display: flex;
                justify-content: space-between;
                width: 260px;
                margin: 0 auto;
                color: #888888;
                font-size: 12px;
                margin-bottom: 10px;
                font-family: 'Century Gothic Regular';
                .hours {
                    margin-left: 15px;
                }
            }
        }
    }
    &__gender {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 36px;
        width: 500px;
        height: 40px;
        a {
            text-decoration: none;
            cursor: pointer;
        }
        .men, .women {
            font-family: 'Century Gothic Bold';
            text-transform: uppercase;
            width: 220px;
            color: #000;
            background-color: #fff;
            font-size: 17px;
            line-height: 42px;
            cursor: pointer;
            margin: 0 auto;
        }
    }
}